In [1]:
1+1

2

In [2]:
print("Hello")

Hello

In [5]:
# Arbitrary argument function

def sum_all(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

print(sum_all(1,2,3))
print(sum_all(5,6,9,8,1))

6
29

In [6]:
# Arbitrary keyword argument

def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [7]:
print_details(name="Prasad", age=22)

name: Prasad
age: 22

In [1]:
def calculate_tal_cost(cart):
    total = 0
    for i in cart:
        total += i['price'] * i['quantity']
    print(total)

cart1 = [
    {'name': 'Apple', 'price': 25, 'quantity': 4},
    {'name': 'Apple', 'price': 100, 'quantity': 2},
    {'name': 'Apple', 'price': 20, 'quantity': 8}
]

calculate_tal_cost(cart1)

460

In [8]:
# Lambda functions

square = lambda x: x*x
print(square(2))

4

In [10]:
numbers = [1,2,3,4,5,6]
print(list(map(square, numbers)))

[1, 4, 9, 16, 25, 36]

In [11]:
# map function

print(list(map(lambda x: x*x, numbers)))

[1, 4, 9, 16, 25, 36]

In [12]:
# map multiple iterables

num1 = [1,2,3]
num2 = [4,5,6]

list(map(lambda x,y: x+y, num1, num2))

[5, 7, 9]

In [13]:
# map to coinvert list of string to integer

str_num = ['1', '2', '3', '4']
list(map(int, str_num))

[1, 2, 3, 4]

## Filter

In [14]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function, iterable, /)
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [20]:
num = [1,2,3,4,4,5,6,6]

def even(num):
    t = filter(lambda x: x>5, num)
    print(list(t))

even(num)

[6, 6]

In [24]:
def even_greater(num):
    t = filter(lambda x: x>5 and x%2==0, num)
    print(list(t))

even_greater(num)

[6, 6]

In [3]:
import numpy as np
print(np.sqrt(16))

4.0

## Using my own custom package.
### Note: whenever defining packages. Inside the folder you need to have __init__.py file

In [17]:
from packages.maths import addition, subtraction
addition(5, 6)
subtraction(6, 5)

ImportError: cannot import name 'subtraction' from 'packages.maths' (d:\machine_learning_2\packages\maths.py)

### Standard libraries

In [3]:
import array

arr = array.array('i', [1,2,3,3])
print(arr)

array('i', [1, 2, 3, 3])

In [13]:
import random

print(random.randint(1,10))
print(random.choice(['apple', 'cherry', 'pineapple']))

4
apple

In [ ]:
import os
# used for file and directory access

os.getcwd()

'd:\\machine_learning_2'

### High level file operations

In [16]:
import shutil

shutil.copyfile('source.txt', 'destination.txt')

'destination.txt'

### Data serialization

In [6]:
import json

data = {"name": "Prasad", "age": 22}
json_str = json.dumps(data)
print(json.dumps(data))
print(type(json.dumps(data)))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Prasad", "age": 22}
<class 'str'>
{'name': 'Prasad', 'age': 22}
<class 'dict'>

In [7]:
## csv

import csv

with open('example.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name', 'age'])
    writer.writerow(['Prasad', 22])


with open('example.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Prasad', '22']

In [10]:
## datetime

from datetime import datetime, timedelta

now = datetime.now()
print(now)

yesterday = now-timedelta(days=1)
print(yesterday)

2025-06-15 18:59:25.871926
2025-06-14 18:59:25.871926

In [11]:
## time

import time

print(time.time())
time.sleep(2)
print(time.time())

1749994215.087038
1749994217.0877314

In [13]:
## Regular expression

import re

pattern = r'\d+'
text = 'there are 123 apples'
match = re.search(pattern, text)
print(match.group())

123