### Python SQLite3 module is used to integrate the SQLite database with Python. It is a standardized Python DBI API 2.0 and provides a straightforward and simple-to-use interface for interacting with SQLite databases

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')
connection

### A Cursor is an object used to execute SQL queries on an SQLite database. It acts as a middleware between the SQLite database connection and the SQL commands. It is created after establishing a connection to the SQLite database.

In [4]:
cursor = connection.cursor()
cursor

In [7]:
## Creating a table

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Employee(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department Text 
    )

''')

connection.commit()

In [8]:
cursor.execute('''

    Select * from employee

''')

In [9]:
## Inserting data

cursor.execute('''

    Insert into employee(id, name, age, department) values(1, 'Prasad', 22, 'CS')

''')

connection.commit()

In [11]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()


for row in rows:
    print(row)

(1, 'Prasad', 22, 'CS')

In [12]:
## Update data in table

cursor.execute('''
    Update employee
    set age = 21 
    where name='Prasad'
''')

In [13]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()


for row in rows:
    print(row)

(1, 'Prasad', 21, 'CS')

In [14]:
## Deleting data from table

cursor.execute('''
    Delete from employee 
    where name='Prasad'
''')

In [15]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()


for row in rows:
    print(row)

In [16]:
connection.close()