# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [1]:
## Ass1-1

import pandas as pd
import numpy as np
matrix = np.random.randint(1, 11, size=(6,4))

df = pd.DataFrame(matrix)

# df
print("Original DataFrame:")
print(df)


df.set_index(df[0], inplace=True)
print("\nDataFrame after setting First column as index: ")
print(df)

Original DataFrame:
    0  1  2  3
0   4  2  3  9
1   3  2  2  2
2   3  2  2  7
3  10  6  7  9
4   7  1  5  1
5   9  7  7  2

DataFrame after setting First column as index:
     0  1  2  3
0
4    4  2  3  9
3    3  2  2  2
3    3  2  2  7
10  10  6  7  9
7    7  1  5  1
9    9  7  7  2

In [3]:
## ass1-2

matrix = np.random.randint(1,11, size=(3,3))
df = pd.DataFrame(matrix, columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])


# df
print("Original DataFrame:")
print(df)

element = df.loc['Y', 'B']
print("element is: ", element)

Original DataFrame:
    A  B   C
X   1  3  10
Y   3  6   5
Z  10  2   4
element is:  6

In [5]:
## Ass2-1
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
matrix = np.random.randint(1,11, size=(5,3))
df = pd.DataFrame(matrix)

print("Original DataFrame:")
print(df)

df.insert(3, 'new_col', df[0]*df[1]*df[2])
print("new df:\n")
print(df)

Original DataFrame:
   0   1  2
0  4  10  7
1  2   5  1
2  4   2  2
3  7   6  3
4  1   1  2
new df:

   0   1  2  new_col
0  4  10  7      280
1  2   5  1       10
2  4   2  2       16
3  7   6  3      126
4  1   1  2        2

In [6]:
## Ass2-2
## Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

matrix = np.random.randint(1,11, size=(5,3))
df = pd.DataFrame(matrix)

print("Original DataFrame:")
print(df)

print("column wise sum: \n")
print(df.sum(axis=0))

print("row wise sum: \n")
print(df.sum(axis=1))

Original DataFrame:
   0  1   2
0  9  6   9
1  8  4   1
2  4  1  10
3  8  9   4
4  7  1  10
column wise sum:

0    36
1    21
2    34
dtype: int64
row wise sum:

0    24
1    13
2    15
3    21
4    18
dtype: int64

In [3]:
## Ass3-2
## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

# Set a seed for reproducibility
np.random.seed(0)

# Create a DataFrame with random integers
df = pd.DataFrame(np.random.randint(0, 100, size=(5, 3)), columns=list('ABC'))

# Introduce some NaN values
df.loc[0, 'A'] = np.nan
df.loc[2, 'B'] = np.nan
df.loc[4, 'C'] = np.nan

print("Original DataFrame:")
print(df)

# Fill NaN values with the mean of the respective columns
df_filled = df.fillna(df.mean())

print("\nDataFrame with NaN values filled:")
print(df_filled)

Original DataFrame:
      A     B     C
0   NaN  47.0  64.0
1  67.0  67.0   9.0
2  83.0   NaN  36.0
3  87.0  70.0  88.0
4  88.0  12.0   NaN

DataFrame with NaN values filled:
       A     B      C
0  81.25  47.0  64.00
1  67.00  67.0   9.00
2  83.00  49.0  36.00
3  87.00  70.0  88.00
4  88.00  12.0  49.25

In [7]:
## Ass4-1
## Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

np.random.seed(0)

# Create a DataFrame with random categories and values
categories = np.random.choice(['A', 'B', 'C'], size=10)
values = np.random.randint(0, 100, size=10)
df = pd.DataFrame({'Category': categories, 'Value': values})

print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute sum and mean of 'Value'
grouped_df = df.groupby('Category')['Value'].agg(['sum', 'mean']).reset_index()

print("\nSum and Mean of 'Value' by Category:")
print(grouped_df)

Original DataFrame:
  Category  Value
0        A     12
1        B     58
2        A     65
3        B     39
4        B     87
5        C     46
6        A     88
7        C     81
8        A     37
9        A     25

Sum and Mean of 'Value' by Category:
  Category  sum       mean
0        A  227  45.400000
1        B  184  61.333333
2        C  127  63.500000

In [9]:
## Ass4-2
## Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

np.random.seed(0)

# Create a DataFrame with random products, categories, and sales
products = [f'Product {i}' for i in range(1, 11)]
categories = np.random.choice(['Electronics', 'Fashion', 'Home Goods'], size=10)
sales = np.random.randint(100, 1000, size=10)
df = pd.DataFrame({'Product': products, 'Category': categories, 'Sales': sales})

print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute total sales
total_sales = df.groupby('Category')['Sales'].sum().reset_index()

print("\nTotal Sales by Category:")
print(total_sales)

Original DataFrame:
      Product     Category  Sales
0   Product 1  Electronics    496
1   Product 2      Fashion    414
2   Product 3  Electronics    805
3   Product 4      Fashion    586
4   Product 5      Fashion    651
5   Product 6   Home Goods    187
6   Product 7  Electronics    274
7   Product 8   Home Goods    700
8   Product 9  Electronics    949
9  Product 10  Electronics    777

Total Sales by Category:
      Category  Sales
0  Electronics   3301
1      Fashion   1651
2   Home Goods    887